{% extends 'home/base.html' %}
{% block title %}
    Guess Me
{% endblock %}

{% block body %}
    <h1>질문지</h1>
    <form action="{% url 'home:answer' %}" method="POST" > 
        <!-- POST 사용시 {% csrf_token %} 필수로 사용  -->
        {% csrf_token %}
        <div>
            <label for="q1">내 생일은?</label>
            <input id = "q1" name ="q1" type="text">
        </div>
        <div>
            <label for="q2">내 고향은?</label>
            <input id = "q2" name ="q2" type="text">
        </div>
        <div>
            <label for="q3">내가 좋아하는 스포츠팀은?</label>
            <input id = "q3" name ="q3" type="text">
        </div>
        <div>
            <label for="q4">내 핸드폰 색깔은?</label>
            <input id = "q4" name ="q4" type="text">
        </div>
        <input type="submit">
    </form>

{% endblock %}