<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
    <style>
        .completed{
            text-decoration : line-through;
            opacity: 0.6;
            font-size: 50px;
        }
        .font_size{
            font-size: 50px;
            color: gold;
        }
    </style>
</head>
<body>
    <div id="app" >

        <select v-model="showMode">
            <option value="all">모두 보기</option>
            <option value="active">할 일 보기</option>
            <option value="done">끝난 일 보기</option>
        </select>
        <!-- v-model 사용자 입력 데이터 <=> vue instance data랑 동기화 -->
        <input type="text"
            v-model = "newtodo"
            v-on:keyup.enter="addTodo"
        >
        <button v-on:click="addTodo">+</button>
        <button v-on:click="clearCompleted">Clear completed</button>
        <!-- 'v-' 접두사가 붙으면, 디렉티브(directive)라고 부른다.] -->
        <ul>
            <!-- v-for가 있는 Element가 반복 -->
            <!-- v-for는 반드시 'v-bind:key="UNIQUE_KEY"가 있어야 함' -->
            <!-- v-if는 평가식이 true일 때만 보임.  -->
            <!-- 우선순위는 v-for -->
            <li v-for="todo in groupByCompleted()" 
                v-if="!todo.completed" 
                v-on:click="check(todo)" 
                class="font_size"
            >
                <input type="checkbox" v-model="todo.completed">
                <span>{{ todo.content }}</span>
                <!-- {{ todo.completed }}    -->
            </li>
            <li v-else 
                v-bind:key="todo.id"
                v-on:click="check(todo)" 
                class="completed" 
                
            >
                <!-- {{ todo.content }} -->
                [완료!]
            </li>
        </ul>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el:'#app',
            data:{  // data가 수정된다 === DOM re-render가 일어난다.
                newtodo:'',
                todos: [],
                showMode: 'all',
            },
            methods: { // data가 수정되는 로직, (setter함수)
                check: function(todo) {
                        todo.completed = !todo.completed; 
                },
                addTodo: function() {
                    this.todos.push({
                        id: Date.now(), // 현실적으로 중복될 일이 없다. 
                        content: this.newtodo,
                        completed: false,
                    })
                    this.newtodo = '';
                },
                clearCompleted:function() {
                    // const newTodos = [];
                    // for (const todo of this.todos) {
                    //     if (!todo.completed){
                    //         newTodos.push(todo);
                    //     }
                    // }
                    // this.todos = newTodos
                    const newTodos = [];
                    this.todos.filter(todo => {
                        return !todo.completed
                    })
                    this.todos = newTodos
                },
                // ES6+ Object literal(편하게 쓰기)
                
                computed :{ // data를 (가공해서)리턴함 수정x (getter 함수)
                    groupByCompleted: function() {
                    if (this.status === 'active'){
                        const notFinished = [];
                        for (const todo of this.todos){
                            if (!todo.completed) {notFinished.push(todo)}
                        }
                        return notFinished
                    }
                    else if (this.showMode ==='done') {
                        // 끝난 일들만 보여주기
                        return finished = this.todos.filter(todo => todo.completed);
                        
                    }
                    else { //'all   '
                        return this.todos;
                    }
                },
                }
            },
            },
        );
    </script>
</body>
</html> 
