<!DOCTYPE html>
<html>
    <head>
        <!-- 백날 데이터를 써도, 사용자한테 보이지 않음. -->
        <meta charset="utf-8">
    </head>
    <body>
    <!-- 여기에 적는 내용은 사용자들한테 보임 -->
        <h1>Today I learned</h1>
        <h2>Learn Flask</h2>
        <ol>
            <li>pip install flask</li>
            <li>touch app.py</li>
            <li>python app.py</li>
        
        </ol>
        <h2>Learn HTML</h2>
        <ul>
            <li>doctype html</li>
            <li>head, body</li>
            <li> h1, h2, ol, ul, li</li>
        </ul>
    
    </body>
</html>