{% extends 'board/base.html' %}
{% block title %}
{% endblock title %}

{% block body %}
    <h1>{{ article.title}}</h1>
    <p>
        {{article.content}}
    </p>

    <div>
        <a href="{% url 'board:edit_article' article.id %}">
            <button>Edit</button>
        </a>
    </div>
    {% comment %} <div>
        <a href="{% url 'board:delete' article.id %}">
            <button>Delete</button>
        </a>
    </div> {% endcomment %}
    <div>
        <form action="{% url 'board:delete_article' article.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="삭제" onclick="return confirm('really?')">
        </form>

    </div>

    <form action="{% url 'board:new_comment' article.id %}" method = 'POST'>
    {% csrf_token %}
        <input type="text" name = "comment_content">
        <input type="submit">
    </form>

    {% if comments %}
        <ul>
            {% for comment in comments %}
            <li>{{ comment.content }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div>
        <a href="{% url 'board:article_list' %}">
            <button>LIST</button>
        </a>
    </div>

{% endblock body %}
