<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <form action="/utils/catch/" method="GET">
        <p>이름은 세글자여야 합니다. 두글자 or 네글자는 안됩니다.</p>
        <div>
            <label for="word">본인 or 상대방의 이름</label>
            <input id="word" name="user-input1" type="text">
        </div>
        <div>
            <label for="word">상대방 or 본인의 이름</label>
            <input id="word" name="user-input2" type="text">
        </div>

        <input type="submit" value="submit">
</body>

</html>